*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* REGOLE FUNZIONALI */

header{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: var(--secondary_color);
}

main{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    flex-direction: column;
}

:root{
    --primary_color: #9792E4;
    --secondary_color: #0084FD;
    --secondary_light_color: #B5DDFF;
    --white_color: white;
    --dark_grey: #333333;
    --orange_color: #FDC15F;
    --black_color: black;
    --grey_azure: #63798C;
}

.container{
    width: 90%;
}

h2{
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
/* FINE REGOLE FUNZIONALI */

.head_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.head_container i{
    color: var(--white_color);
    font-size: 20px;
}

.header_nav{
    display: none;
}

.header_nav ul {
    list-style-type: none;
}

.header_nav ul li{
    display: inline-block;
}

.header_nav ul li a {
    text-decoration: none;
    color: var(--white_color);
    margin-left: 20px;
}

#cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    background-color: var(--secondary_light_color);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
}

#first_card{
    padding-bottom: 0px;
}

#first_card img{
    width: 60%;
    margin: auto;
}

.card i {
    font-size: 80px;
    color: var(--secondary_color);
}

.card_title{
    color: var(--secondary_color);
    font-size: 20px;
    font-weight: bolder;
    padding: 25px;
}

.card_description{
    text-align: center;
    color: var(--grey_azure);
    font-weight: bolder;
}

.card i.fa-apple{
    color: var(--white_color);
    font-size: 20px;
    padding-right: 10px;
}

#first_card{
    align-items: flex-start;
}
#first_card .card_title{
    padding-left: 0;
}

#first_card .card_description{
    text-align: unset;
}

.first_card_img_container{
    text-align: center;
}

main .container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}


#strategic_plan{
    width: 100%;
    background-color: var(--primary_color);
}

.strat_plan img{
    width: 90%;
    margin: 50px auto;
}

.strat_plan h2{
    padding: 30px 0 50px;
}

#strategic_plan .container{
    margin: auto;
}

.strat_plan {
    display: flex;
    flex-direction: column;
    color: var(--white_color);
}

#card_plan{
    background-color: var(--white_color);
    border-radius: 50px;
    margin-top: 30px;
    width: 100%;
}

#card_plan h3{
    margin: 20px 0;
}

#card_plan span{
    text-align: center;
}

.arrow{
    background-color: var(--primary_color);
    border-radius: 50%;
    margin: 25px;
}

.arrow i {
    font-size: 20px;
    color: var(--black_color);
    padding: 15px;
}


.card_img img {
    width: 100%;
}

.testimonial_card span{
    display: block;
}

#testimonial .container{
    margin: auto;
}

#testimonial{ 
    margin: 10px;
    width: 100%;
}

#testimonial .testimonial_card{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#benefits{
    width: 100%;
}

#benefits .container{
    margin: auto;
}

#benefits h2{
    text-align: center;
}

.benefit_card{
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    background-color: var(--white_color);
}

.benefit_card span {
    display: block;
}

.benefits_card_container{
    display: flex;
    flex-wrap: wrap;
}

#about_us span{
    display: block;
}

#about_us {
    width: 100%;
}

#about_us .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

#get_started {
    width: 100%;
    background-color: #9792E4;
    text-align: center;
}

#get_started .container{
    margin: auto;
}


footer{
    width: 100%;
    background-color: var(--dark_grey);
}

footer .container{
    margin: auto;
    text-align: center;
}

footer span{
    display: block;
}

.bttn{
    padding: 5px 15px;
    border-radius: 20px;
}

#bttn_white_black{
    background-color: var(--white_color);
    color: var(--black_color);

}

#bttn_blue{
    background-color: var(--secondary_color);
    color: var(--white_color);
    padding: 5px 30px;
    margin: 20px 0;
    display: inline-block;
}





@media screen and (min-width: 768px){
    .container{
        max-width: 740px;
    }

    .head_container{
        max-width: 740px;
    }
    
    main #cards .container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        align-items: stretch;
    }


    main .card:first-child{
        width: calc((100% /3 *2) - 20px);
        margin: 10px;
    }

    #first_card img{
        width: 40%;
    }

    
    main .card{
        width: calc((100% /3) - 20px);
        margin: 10px auto;
    }

    
    #first_card img{
        margin: 0;
    }

    .first_card_img_container{
        text-align: unset;
    }

    .strat_plan h2 {
        font-size: 50px;
    }

    #testimonial .testimonial_card {
        flex-direction: row;
        justify-content: center;
    }

    .benefit_card{
        margin:  10px 10px;
        width: calc(100%/2 - 20px);
    }

    #about_us .container{
        flex-direction: row;
    }

    .about_us_left{
        margin:  10px 10px;
        width: calc(100%/3 *2 - 20px);
    }

    .about_us_right{
        margin:  10px 10px;
        width: calc(100%/3 - 20px);
    }

    

}

@media screen and (min-width: 992px){
    
    .head_container{
        max-width: 960px;
    }

    .header_nav{
        display: block;
    }

    .head_container i{
        display: none;
    }

    main .container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        max-width: 960px;
    }

    
    #first_card img{
        align-self: flex-end;
    }

    main .card:first-child{
        flex-direction: row;
    }

    #strategic_plan .container{
        display: flex;
        justify-content: space-between;
    }

    .strat_plan{
        width: 40%;
    }

    #card_plan{
        width: 40%;
        margin: 0;
    }

    .strat_plan h2 {
        font-size: 30px;
    }

    .testimonial_card {
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
    }    


    .benefit_card{
        margin:  10px 10px;
        width: calc(100%/3 - 20px);
    }
}

@media screen and (min-width: 1200px){
    

}