*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* REGOLE FUNZIONALI */

header{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: var(--secondary_color);
}

main{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    flex-direction: column;
}

:root{
    --primary_color: #9792E4;
    --secondary_color: #0084FD;
    --secondary_light_color: #B5DDFF;
}

.container{
    width: 90%;
}
/* FINE REGOLE FUNZIONALI */

.head_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
} 

.cards{
    display: flex;
    justify-content: center;
}

.card{
    background-color: var(--secondary_light_color);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


main .container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}


.stategic_plan{
    display: flex;
    background-color: var(--primary_color);
}

.strat_plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial_card span{
    display: block;
}


#testimonial{ 
    margin: 10px;
}

#testimonial .testimonial_card{
    margin: 10px 0;
    text-align: center;
}

.intro_testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}










@media screen and (min-width: 768px){
    .container{
        max-width: 740px;
    }

    .head_container{
        max-width: 740px;
    }
    main .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }


    main .card:first-child{
        width: calc((100% /3 *2) - 20px);
    }

    main .card{
        width: calc((100% /3) - 20px);
    }

}

@media screen and (min-width: 992px){
    
    main .container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        max-width: 960px;
    }

    .testimonial_card {
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
    }

    .span_container{
        display: flex;
        
    }
    
}

@media screen and (min-width: 1200px){
    .head_container{
        width: 90%;
    }

}




/*DEBUG 768  992 */

.debug .head_container div, .debug .head_container nav{
    background-color: #9792E4;
}

.debug .testimonial_card{
    background-color: var(--primary_color);
}

.debug #testimonial{
    background-color: aqua;
}